<h1> Create new User</h1>

<%if  flash[:errors] %>
<% flash[:errors].each do |error| %>
<li style="color:red"><%= error%></li>
<% end%>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email%>
<%= f.text_field :email%>

<%= f.label :img_url %>
<%= f.text_field :img_url%>
<%= f.label :password%>
<%= f.password_field :password%>
<%= f.label :pasword_conformation%>
<%= f.password_field :pasword_conformation%>
<%= f.submit %>
<%end%>