<h1> Create new User</h1>
<div class="content">
<%if  flash[:errors] %>
<% flash[:errors].each do |error| %>
<li style="color:red"><%= error%></li>
<% end%>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name, placeholder: "Enter Name" %><br>
<%= f.label :email%><br>
<%= f.text_field :email, placeholder: "Email"%><br>
<%= f.label :img_url %><br>
<%= f.text_field :img_url, placeholder: "Paste Image Url"%><br>
<%= f.label :password%><br>
<%= f.password_field :password, placeholder: "Password"%><br>
<%= f.label :password_confirmation%><br>
<%= f.password_field :password_confirmation, placeholder: "Password Confirmation"%><br><br>
<%= f.submit %><br>
<%end%>
<p>Have An Account Already?</p>
<%=link_to "Login", login_path%>
</div>