<div class="content">
<h1><%= @user.name %><h1/>

<img src=<%=@user.img_url%>>
<h3>Your Current Pokemons</h3>
<%@user.user_pokemons.each do |user_pokemon|%>
<%=link_to user_pokemon.nickname, pokemon_path(user_pokemon.pokemon)%>
<a href=<%=pokemon_path(user_pokemon.pokemon)%>><img src=<%= user_pokemon.pokemon.img_url%>></a>
<%=link_to "Edit Nickname", edit_user_pokemon_path(session[:id])%>
<%= button_to 'Release', user_path(user_pokemon), method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%><br><br><br><br><br><br>
<%= link_to "See Full Pokedex", pokemons_path %><br><br>
<%= link_to "See The Safari Zones", zones_path %><br><br>
<%= button_to "logout", logout_path, method: :delete %>

</div>
