<h1><%= @zone.name %></h1>
<h3><%= @zone.description %></h3>
<img src=<%=@zone.img_url%>>

<div>
<%@zone.pokemons.each do |pokemon|%>
<%=link_to pokemon.name, pokemon_path(pokemon)%>

<a href=<%=pokemon_path(pokemon)%>><img src=<%= pokemon.img_url%>></a>
<%end%>

</div>