<div class="leftbanner">
<ul><%@pokemons.each do |pokemon|%>
    <li><%= link_to pokemon.name, pokemon_path(pokemon)%></li>
    <%end%>
    </ul>
</div>
<div class="content">
<h1><%= @pokemon.name %><h1/>
<img src=<%=@pokemon.img_url%>>
<h3>Type: <%= @pokemon.kind %><h3/>

<p><%=link_to "Capture", click_path %></p>
<p><%= session[:total_clicks]%></p>
<p><% session[:current_pokemon] = @pokemon.id%></p>

<h3>DEX Number: <%= @pokemon.dex_num %><h3/>
<h3>Move Set</h3>
<ul>
<li><%=@pokemon.move_one%></li>
<li><%=@pokemon.move_two%></li>
<li><%=@pokemon.move_three%></li>
<li><%=@pokemon.move_four%></li>
<ul><br><br>
<%= form_for @user_pokemon do |f| %>
<%= f.label :nickname %>
<%= f.text_field :nickname %><br>
<%=f.hidden_field :user_id, :value => session[:id] %>
<%= f.hidden_field :pokemon_id, :value => @pokemon.id %>
<%= f.submit "Add To Your Pokedex" %>
<%end%><br><br>
<%= link_to "See Full Pokedex", pokemons_path %><br><br>
<%=link_to "Back Profile", user_path(session[:id])%>
</div>
<audio src="https://vgmsite.com/soundtracks/pokemon-gameboy-sound-collection/gbhogmtx/107-battle%20%28vs%20wild%20pokemon%29.mp3" 
 controls >

</audio>
