<div class="bodycontent">
<div class="topbanner">
<img id="pokebanner" src="https://www.pinclipart.com/picdir/big/164-1648349_pokemon-brick-bronze-png-banner-library-stock-pokemon.png">
<h1 class="pagetitle">PokeDex<h1/>
<div id="search">
<%=form_for "", url: pokemons_path, role:"search", method: :get do %>
<%=text_field_tag :search, @search_tern, placeholder:"Search Here"%>
<%=submit_tag "Search", class: 'button'%>
<%end%>
</div>
<div class="navlinks_content">
<%=link_to "Search By Zone", zones_path%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%=link_to "My Profile", user_path(session[:id])%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%=link_to "Pokedex", pokemons_path%>
</div>
</div>
<div class="leftbanner">
<h3>PokeDex<h3>
<ul><%@pokemons.each do |pokemon|%>
    <li><%= link_to pokemon.name, pokemon_path(pokemon)%></li>
    <%end%>
    </ul>
</div>
<div class="content">
<h1><%= @pokemon.name %><h1/>
<img src=<%=@pokemon.img_url%>>
<h5>Type: <%= @pokemon.kind %><h5/>

<h5>DEX Number: <%= @pokemon.dex_num %><h5/>
<h5>Move Set:</h5>
<ul>
<li><%=@pokemon.move_one%></li>
<li><%=@pokemon.move_two%></li>
<li><%=@pokemon.move_three%></li>
<li><%=@pokemon.move_four%></li>
<ul><br><br>
<%= form_for @user_pokemon do |f| %>
<%= f.label :nickname %>
<%= f.text_field :nickname %><br>
<%=f.hidden_field :user_id, :value => session[:id] %>
<%= f.hidden_field :pokemon_id, :value => @pokemon.id %><br><br><br>
<%= f.submit "Add To Your Roster" , class: 'button2' %>
<%end%><br><br>
<ul id="hori">
<li><%= link_to "See Full Pokedex", pokemons_path %></li>&nbsp;&nbsp;&nbsp;<li>|</li>&nbsp;&nbsp;&nbsp;
<li><%=link_to "Back Profile", user_path(session[:id])%></li>
</ul>
</div>
</div>
